<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Tour Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(images/Uber-App.png);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   	
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<!-- <div class="form-group text-center">
			<input type="submit" value="Update Account" class="btn btn-primary" id ="update">
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Get Info" class="btn btn-primary">
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Ride" class="btn btn-primary">
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Payment" class="btn btn-primary">
		</div> -->

		<div id="colorlib-services">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-3 animate-box text-center aside-stretch">
							<div class="services">
								<span class="icon">
									<i class="flaticon-around"></i>
								</span>
								<h3>Link your Clipper!</h3>
								<a id="update"><p>Link your Clipper card with the Uber Account!</p></a>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-around"></i>
								</span>
								<h3>Get the Details</h3>
								<a id="get_the_details"><p>Get the Account Details</p></a>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-car"></i>
								</span>
								<h3>Ride Now!</h3>
								<a id="ride_now"><p>Book the UBER Now!</p></a>
							</div>
						</div>
						<div class="col-md-3 animate-box text-center">
							<div class="services">
								<span class="icon">
									<i class="flaticon-postcard"></i>
								</span>
								<h3>Pay!</h3>
								<p> Pay the UBER bills</p>
							</div>
						</div>
					</div>
				</div>
			</div>	
	<%if (data == "1") { %>
		<div id="colorlib-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animate-box">
						<h3>Enter the Details</h3>
						
							<div class="row form-group">
								<div class="col-md-6 padding-bottom">
									<label for="fname">User Id</label>
									<input type="text" id="userid" class="form-control" placeholder="Your firstname">
								</div>
								<div class="col-md-6">
									<label for="lname">Clipper Card No</label>
									<input type="text" id="clippercard" class="form-control" placeholder="Your lastname">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label for="email">Uber User Name</label>
									<input type="text" id="username" class="form-control" placeholder="Your email address">
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-12">
									<label for="subject">Password</label>
									<input type="text" id="password" class="form-control" placeholder="Your subject of this message">
								</div>
							</div>
							<div class="form-group text-center" >
								<input type="submit" value="Send Message" class="btn btn-primary" id ="update_view">
							</div>

							
					</div>
				
				</div>
			</div>
		</div>
		<% } %>

		<%if (data == "2") { %>
			<div id="colorlib-about">
					<div class="container">
							<div class="row">
									<div class="col-md-12">
										<div class="wrap-division">
											<div class="col-md-12 col-md-offset-0 heading2 animate-box">
												<h2 align="center">User Details</h2>
											</div>
											<div class="row">
												<div class="col-md-12 animate-box">
													<div class="room-wrap">
														<div class="row">
															<div class="col-md-6 col-sm-3">
																	<h2 align="center"> User Details</h2>
															</div>
															<div class="col-md-6 col-sm-9">
																<div class="desc">
																	<h2>Clipper Card Number</h2>
																	<p><%= details.Accounts[0].clippercarnumber %></p>
																</div>
																<div class="desc">
																		<h2>User Name</h2>
																		<p><%= details.Accounts[0].username %></p>
																</div>
																<div class="desc">
																			<h2>Password</h2>
																			<p><%= details.Accounts[0].password %></p>
																</div>	
															</div>
														</div>
													</div>
												</div>
		
												
		
												
											</div>
										</div>
									</div>
					</div>
				</div>
			<% } %>
			<%if (data == "3") { %>
				<div class="colorlib-wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12">
										<div class="wrap-division">
											<div class="col-md-12 col-md-offset-0 heading2 animate-box">
												<h2>Ride the UBER</h2>
											</div>
											<div class="row">
												<div class="col-md-12 animate-box">
													<div class="room-wrap">
														<div class="row">
															<div class="col-md-6 col-sm-6">
																<div class="room-img" style="background-image: url(images/ride.png);"></div>
															</div>
															<div class="col-md-6 col-sm-6">
																<div class="desc">
																	<h2>Uber Ride</h2>
																	<p class="price"><span>$07</span> <small>/ ride</small></p>
																	<p>Get the smooth, top class ride with UBER</p>
																	<p><a class="btn btn-primary">Book Now!</a></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			<% } %>
	
		<div id="colorlib-subscribe" style="background-image: url(images/uber.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
						<h2>Thank you for your response!</h2>
						
					</div>
				</div>
			</div>
		</div>

		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-3 colorlib-widget">
						<h4>Tour Agency</h4>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
						<p>
							<ul class="colorlib-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-2 colorlib-widget">
						<h4>Book Now</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Flight</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Tour</a></li>
								<li><a href="#">Car Rent</a></li>
								<li><a href="#">Beach &amp; Resorts</a></li>
								<li><a href="#">Cruises</a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-2 colorlib-widget">
						<h4>Top Deals</h4>
						<p>
							<ul class="colorlib-footer-links">
								<li><a href="#">Edina Hotel</a></li>
								<li><a href="#">Quality Suites</a></li>
								<li><a href="#">The Hotel Zephyr</a></li>
								<li><a href="#">Da Vinci Villa</a></li>
								<li><a href="#">Hotel Epikk</a></li>
							</ul>
						</p>
					</div>
					<div class="col-md-2">
						<h4>Blog Post</h4>
						<ul class="colorlib-footer-links">
							<li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
							<li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
							<li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-md-push-1">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart2" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
							<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>

	<!-- Main -->
	<script src="js/main.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
        $("#update").click(function(event){
            window.location = "/texiservice?No="+"1";
		});

		 $("#update_view").click(function(event){
			 //console.log("jay desai");
			// console.log("/texiservice?No="+"2&userid="+document.getElementById('userid').value+"&clippercard="+document.getElementById('clippercard').value+"&username="+document.getElementById('username').value+"&password="+document.getElementById('password').value);

			 window.location = "/texiservice?No="+"2&userid="+document.getElementById('userid').value+"&clippercard="+document.getElementById('clippercard').value+"&username="+document.getElementById('username').value+"&password="+document.getElementById('password').value;
		});

		$("#get_the_details").click(function(event){
			 //console.log("jay desai");
			 //console.log("/texiservice?No="+"2&userid="+document.getElementById('userid').value+"&clippercard="+document.getElementById('clippercard').value+"&username="+document.getElementById('username').value+"&password="+document.getElementById('password').value);

			 window.location = "/texiservice?No="+"2&direct="+"T";
		});

		$("#ride_now").click(function(event){
            window.location = "/texiservice?No="+"3";
		});
		
		</script>

		

	</body>
</html>

